<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to GeeksSupport, <%= @name %></h1>
      
      <p>
        Your workspace account is now active. Use the credentials below to log in: <br>
      </p>
      <p> Email: <%= @email %></p>
      <p> Password: <%= @password %></p>

      <p> After SignIn you can reset your password </p>    
      
   </body>
</html>